<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css"/>
    <title>Document</title>
</head>
<body>
    <a href="/gameserver/new"> Add a new game</a>
    <ul>
        <ul>
            <% games.forEach(game => { %>
                <a href="/gameserver/<%=game._id %>"> <%=game.title%></a>
                <h3> <%=game.completed %></h3>
                <form action="/gameserver/<%=game._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Entry">
                </form>
             <% }) %>
        </ul>
    </ul>
</body>
</html>